* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.col {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
    height: 100%;

    border-right: solid black 1px;
}

.two-col {

    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 10%;

    padding: 15px;
}

.title { 
    font-size: 36px;
    letter-spacing: .2px;
    font-family: 'Noto Serif JP';
}

.meta {
    font-size: 18px;

    font-family: Inter;
    font-weight: 400;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    width: 100%;
    height: 85%;

    overflow-y: scroll;

    border-top: solid black 1px;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    width: 100%;
    height: auto;

    padding: 15px;

    cursor: pointer;
}

.list-item:hover {
    background-color: black;
    color: white;
}

.item-title {
    height: auto;

    font-size: 36px;

    font-family: 'Noto Serif JP';

    white-space: nowrap;
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.item-meta {
    font-size: 14px;
    line-height: 20px;

    font-family: Inter;
}

.view {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #e8eaed;
}

.preview {
    max-width: 60%;
    border-radius: 20px;
}


.text {
    width: 100%;
    height: 100%;

    padding: 15px;

    overflow-y: scroll;
}

.text > h1, h2, h3 {
    font-family: Noto Serif JP;
}

.text > p {
    font-family: Inter;
}

.text > blockquote {

    font-family: Noto Serif JP;
    font-style: italic;
    font-size: 28px;
}

mark {
    background-color: lemonchiffon;
}

.pagination-bar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: auto;
    
    padding: 12px 16px;
    border-top: solid black 1px;
}

.pagination-button {
    width: fit-content;
    height: auto;


    font-size: 24px;
    font-family: Noto Serif JP;

}

.off {
    display: none;
}

.on {
    display: 'block';
}